.flexbox_nav{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.item0{
    flex-basis: 55%;
}
.flexitem_nav{
    justify-self: center;
    margin-right: 20px;
}
@media screen and  (min-width: 910px){

.item0{
    flex-basis: 65%;
}
.flexitem_nav{
    justify-self: center;
    margin-left: 20px;
}
}