header{
    background-color:#37003c ;
}
.color{
    color: white !important;
    font-size: 14px;
    line-height: 60px;
}
.title{
    padding: 130px 0;
    margin: auto;
    padding-left: 50px;
    /* text-align: center; */
    color: rgba(19, 47, 139, 0.808);
    width: 80%;
    border-bottom: 1px solid rgb(167, 72, 88);
}
footer{
    background-color: #323A56;
    color: white;
    height: 100px;
}
