.backG{
    background-image: url(./../../static/sss.jpg);
    background-repeat: no-repeat;
    min-height: 500px;
    min-width: 500px;
    background-attachment: fixed;
    background-size: cover;
}
.flexbox_i4{
    display: flex;
    border: 1px solid black;
    flex-flow: row wrap;
    margin: 100px auto 150px;
    /* margin-left: auto; */
    width: 95%;

    justify-content: space-around;
}
.flexItem_i4{
flex-basis: 230px;
height: 150px;
/* margin: auto; */
margin: 10px 30px;
border-radius: 20px;
border: 1px solid black
}