
.flexbox_i4{
    display: flex;
    flex-flow: row wrap;
    margin: 10px auto 150px;
    width: 95%;

    justify-content: space-around;
}
.flexItem_i4{
flex-basis: 230px;
height: 150px;
margin: 10px 30px;
border-radius: 20px;
border: 1px solid transparent;
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: center;
transition: 0.2s;
box-shadow: 1px 2px 10px burlywood ,2px 1px 7px 2px black;
}

.tieude{
    color: black;
    font-family: sans-serif;
    align-self: center;
}
.flexItem_i4:hover{
    border: 2px solid pink;
}
.new{
    display: flex;
    padding-top: 50px;
    margin-left: 8%;
}
.text{
    /* border: 1px solid black; */
    padding-left: 10%;
    flex-basis: 40%;
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
}
.new img{
    width: 80%;
}
#p{
    font-size: 17px;
    /* margin: 200px 150px 0 0;
     */
     margin-top: 10%;
     margin-left: 10%;
    /* border: 1px solid black; */
}
figcaption{
    font-style: italic;
    font-size: 13px;
    margin: 0;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
}
@media only screen and (min-width: 910px){
    .backG{
        min-height: 500px;
        min-width: 300px;
        background-attachment: fixed;
        background-size: contain;
    }
    .flexbox_i4{
    margin: 50px auto 150px;
    justify-content: space-around;
}

}
@media only screen and (min-width: 1400px){
    .backG{
        min-height: 600px;
        min-width: 300px;
        background-attachment: fixed;
        background-size: cover;
    }
    .flexbox_i4{
    margin: 50px auto 250px;
}
}
@media only screen and (max-width: 1000px) {
    .text{
        text-align: left;
        /* border: 1px solid black; */
        /* flex-basis: 100%; */
        padding-left: 0%;
        margin-right: 0px;
        padding-top: 10px;
    }
    .new{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        margin-left: 8%;
    }
}